[*]
charset = utf-8
end_of_line = lf
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[{.babelrc, .prettierrc, .stylelintrc, jest.config, *.json, *.jsb3, *.jsb2, *.bowerrc, *.graphqlconfig}]
indent_style = space
indent_size = 2

[{tsconfig.lib.json, tsconfig.spec.json, tsconfig.app.json, tsconfig.json, tsconfig.e2e.json}]
indent_style = space
indent_size = 2

[*.js.map]
indent_style = space
indent_size = 2

[.eslintrc]
indent_style = space
indent_size = 2

[{.analysis_options, *.yml, *.yaml}]
indent_style = space
indent_size = 2
