.active {
  button {
    font-weight: $bold;
    color: $defaultTextColor;
  }

  svg {
    @mixin animate fade-in-right, 0.5;

    display: block;
    fill: $defaultTextColor;
    stroke: $defaultTextColor;
  }
}
