//- Site meta information
- var lang = lang || 'en';
- var path = path || './';
- var charset = charset || 'UTF-8';

//- Page meta information
- var title = title || 'Portfolio website (golden grid canon) boilerplate'
- var metaDesc = metaDesc || 'Example portfolio website made using postcss and pug, could also be used as a boilerplate'

