- const navMenu = navigation
- const themeSwitch = theming
// +radioSwitch('select theme', 'theme-selector', themeSwitch)
header.header

  //a.header-logo-link(href="/")
  //  +icon('#pug', 'logo')
  //
  //div.theme-switch-wrapper
  //  +checkBoxSwitch('theme-selector', 'Dark mode')
  //
  //nav.menu
  //  +menu(navMenu, currentNav)
