/* Application main layouts configuration */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  /* overflow: hidden; */
  scroll-behavior: smooth;
  background-color: $bgColor;
}

body {
  color: $defaultTextColor;
  scroll-behavior: smooth;
  /* overflow: hidden; */
  padding: 0;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100vw;
  bottom: 100%;
}







